:root {
  --hue: 290;

  --bg-primary: hsl(var(--hue), 22%, 20%);

  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-tertiary: hsl(var(--hue), 100%, 11%);

  --fs-body: 1rem;
  --fs-header: 2.5rem;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;

  color: var(--fc-primary);
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  --webkit-font-smoothing: antialiased;
}