body {
  background-color: var(--bg-primary);

  font-size: var(--fs-body);
}

.page {
  max-width: clamp(20.75rem, 18.75rem + 60vw, 73.13rem);
  padding: 0 3.75rem;

  margin: 0 auto;
  margin-bottom: 6.38rem;
}

img {
  width: 100%;
  height: auto;
}

header {
  display: grid;
  gap: 1.25rem;

  text-align: center;

  margin: 5.75rem 0 5rem;
}

header p {
  color: var(--fc-secondary);

  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2rem;
}

header h1 {
  font-size: var(--fs-header);
  line-height: 3rem;
}

main {
  display: grid;
  gap: 2rem;
}

.card {
  position: relative; /* torna a posição do elemento absoluto relativo a ele, no caso o h2 */
}

.card img {
  height: 26rem;
  object-fit: cover;
  border-radius: 5px;

  filter: brightness(0.8) saturate(1.2) contrast(0.9);
  transition: transform 0.3s ease-in-out, filter 0.5s;
}

.card img:hover {
  transform: scale(1.03);
  filter: brightness(1);
}

.card h2 {
  font-size: var(--fs-header-sm);

  position: absolute;
  bottom: 3.25rem;
  left: 1.75rem;

  display: flex;
  flex-direction: column;
  gap: 1.44rem;
}

.card h2 span {
  background-color: var(--fc-primary);
  color: var(--fc-tertiary);
  font-weight: 400;
  line-height: 2rem;

  display: inline-flex;
  align-items: center;
  border-radius: 1.25rem;
  padding: 1rem;
  height: 2.38rem;
  width: fit-content;
}

/* at-rules */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header { 
  animation: topdown 0.7s 
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  animation: downtop 0.7s 0.35s backwards;
}

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  main {
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-areas: "A B B"
    "C C D";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }

}
